<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABfYER44FEO9li5QMS7uBQnIz6f741vnI</string>
	<key>GCM_SENDER_ID</key>
	<string>828257465218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>phs.Popcorn-Rating</string>
	<key>PROJECT_ID</key>
	<string>kernel-of-truth</string>
	<key>STORAGE_BUCKET</key>
	<string>kernel-of-truth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828257465218:ios:6ebcbcf8661012857dd59b</string>
</dict>
</plist>